<h1>About US</h1>
<paper-material class="aboutNameBox">
	<h2>Hii Yong Lian</h2>
	<div style="width:25%; float:left;">img</div>
	<div><h3>About hii stuff</h3></div>
</paper-material>
<paper-material class="aboutNameBox">
	<h1>Shaun Goh</h1>
	<div style="width:25%; float:left;">img</div>
	<div><h3>About Shaun stuff</h3></div>
</paper-material>
