<!--
 * This is a manifest file that'll be compiled into application.html, which will include all the files
 * listed below and their dependencies.
 *
 * Any html files within this directory, lib/assets/components, or vendor/assets/components
 * can be referenced here using a relative path.
 *
 *= require_tree .

 *= require paper-drawer-panel/paper-drawer-panel
 *= require paper-header-panel/paper-header-panel
 *= require paper-toolbar/paper-toolbar
 *= require paper-button/paper-button
 *= require paper-input/paper-input
 *= require paper-icon-button/paper-icon-button
 *= require iron-icons/iron-icons
 *= require paper-menu/paper-menu
 *= require paper-item/paper-item
-->
